.contact-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-family: 'Kanit', sans-serif;
}

.contact-page .container-fluid {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-page .container-fluid .contact-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact-page .container-fluid .contact-text h3 {
    font-size: 2.8rem;
    font-weight: 200;
    margin: 0;
    color: var(--color-quarter);
}

.contact-page .container-fluid .contact-text p {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
    color: var(--color-quarter);
}

.contact-page .container-fluid .contact-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-rows: .5fr 1.5fr;

    align-items: center;
    justify-items: center;
}

.contact-page .container-fluid .contact-cards .container-superior {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 20%;
}

.contact-page .container-fluid .contact-cards .container-superior a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #6d9d8608;
    padding: 20px;
    border-radius: 3px;
    width: 100%;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card:hover {
    background-color: #6d9d8653;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-icon {
    background-color: var(--color-secondary);
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    border-radius: 50%;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-icon svg {
    color: var(--color-primary);
    width: 2rem;
    height: 2rem;
}


.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-text h5 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    color: var(--color-quarter);
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-text a {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    color: var(--color-fifth);
}

.contact-page .container-fluid .contact-cards .container-inferior.container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


/* .contact-page .container-fluid .contact-cards .container-inferior.container div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.contact-page .container-fluid .contact-cards .container-inferior.container {

    width: 100%;
    font-weight: 300;
    margin-top: 1rem;
    color: var(--color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-mapa.container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-mapa.container-fluid .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-mapa.container-fluid .container .map {

    height: 60vh;
    width: 100%;
    border-radius: 5%;

}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    height: 100%;

}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-form.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-form.container form input:nth-child(1) {
    border-top: 1px solid var(--color-terciary);
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-form.container form input,
textarea {
    border-radius: 3px;
    width: 90%;
    height: 2rem;
    font-size: .8rem;
    font-weight: 300;
    margin: 1rem 1rem 0 0;
    padding: 1rem;
    border: none;
    border-bottom: .5px solid var(--color-quarter);
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-form.container form textarea {
    height: 5rem;
    font-size: .8rem;
    font-weight: 300;
    background-color: var(--color-secondary);
    margin-bottom: 1rem;
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-form.container form button {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 3px;
    height: 2.2rem;
    width: 6.5rem;
    font-size: .9rem;
    color: var(--color-quarter);
    border: .5px solid var(--color-primary);
}

.contact-page .container-fluid .contact-cards .container-inferior.container .contenedor-form.container form button:active {
    background-color: var(--color-terciary);
    border: none;
    border-radius: 3px;
    height: 2.2rem;
    width: 6.5rem;
    font-size: .9rem;
    color: var(--color-secondary);
}

.sucess{
    margin: 2rem 0;
    padding: 1rem;
    border: .5px solid var(--color-terciary);
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 3px;
}   
.error{
    margin: 2rem 0;
    padding: 1rem;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.495);
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .contact-page .container-fluid .contact-cards {
        width: auto;
    }
    .contact-page .container-fluid .contact-cards .container-superior {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .contact-page .container-fluid .contact-cards .container-superior a .contact-card{
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
    }
    .contact-page .container-fluid .contact-cards .container-inferior.container{
        flex-direction: column-reverse;
    }


}