.contact-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    padding-top: 25px;
}

.contact-page .container-fluid {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-page .container-fluid .contact-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.contact-page .container-fluid .contact-text h3 {
    font-size: 2.8rem;
    font-weight: 200;
    margin: 0;
    color: var(--color-quarter);
}

.contact-page .container-fluid .contact-text p {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
    color: var(--color-quarter);
}

.contact-page .container-fluid .contact-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-rows: .5fr 1.5fr;

    align-items: center;
    justify-items: center;
}

.contact-page .container-fluid .contact-cards .container-superior{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}
.contact-page .container-fluid .contact-cards .container-superior a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-page .container-fluid .contact-cards .container-superior a .contact-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #6d9d8608;
    padding: 20px;
    border-radius: 3px;
    width: 100%;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card:hover{
    background-color: #6d9d8653;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-icon {
    background-color: var(--color-secondary);
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    border-radius: 50%;
}
.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-icon svg{
    color: var( --color-primary);
    width: 2rem;
    height: 2rem;
}


.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-text h5{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    color: var(--color-quarter);
}

.contact-page .container-fluid .contact-cards .container-superior a .contact-card .contact-card-text a{
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    color: var(--color-fifth);
}


.contact-page .container-fluid .contact-cards .container-inferior{
    min-height: 45vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 