.projects{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    overflow: hidden;
    padding-top: 25px;
    max-width: 100vw;

}

.projects h1{
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.projects .container-fluid{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
}

.projects .container-fluid .cohetes {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: -99;
}

.projects .container-fluid .cohetes  div{
    width: 15vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}   
.projects .container-fluid .cohetes  div:nth-child(1){
    rotate: 40deg;
}
.projects .container-fluid .cohetes  div:nth-child(2){
    rotate: 30deg;
}
.projects .container-fluid .cohetes  div:nth-child(3){
    rotate: -160deg;
}

.projects .container-fluid .cohetes  div:nth-child(4){
    rotate: 160deg;
}

.projects .container-fluid .cohetes  div:nth-child(8){
    rotate: -90deg;
}
.projects .container-fluid .cohetes  div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projects .container-fluid .container-projects{
    position: relative;
    width: 80vw;
    height: 70vh;
    /* From https://css.glass */
background: rgba(96, 96, 96, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
}
/* CARROUSEL */
/* CARROUSEL */
/* CARROUSEL */

.carrousel{
    display: flex;
    align-items: center;
    justify-content: start;
    object-fit: contain;
    width: 80%;
    overflow: hidden;
    height: 70vh;
}
.carrousel .card-carrousel{
    width: 100%;
    height: 100%;
    object-fit: contain ;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrousel .card-carrousel .card-carrousel-img{
    filter: blur(4px);
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 4%;
    opacity: 60%;
    border-radius: 4px;
}


.carrousel .card-carrousel .card-carrousel-img .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    overflow: hidden;
    border-radius: 4px;
}

.carrousel .card-carrousel img{
    width: 80vw;
    height: 100%;
    object-fit: contain;
    position: relative;
    filter: blur(4px);
}

.card-carrousel .card-carrousel-text{
    position: absolute;
    z-index: 99;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    background: rgb(255,255,255);
    background: linear-gradient(184deg, rgba(255,255,255,0.2) 0%, rgba(86,86,86,1) 100%);
}

/* textos */
.card-carrousel .card-carrousel-text h4{
    font-size: 1.9rem;
    font-weight: 300;
    color: var(--color-fifth);
    margin: 0;
}

.card-carrousel .card-carrousel-text p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--color-secondary);
    width: 80%;
    text-align: center;
    white-space: pre-wrap;
}

.card-carrousel .card-carrousel-text button{
    width: 7rem;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    background-color: var(--color-fifth);
    color: var(--color-primary);
    font-size: .8rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .1s ease-in-out;
    margin-top: .5rem;
}
.card-carrousel .card-carrousel-text button:active{
    filter: brightness(1.2);
}

.card-carrousel .card-carrousel-text button .flecha-ver-mas{
    margin-left: .5rem;
    font-size: .9rem;
}


/* fin textos */
.boton-izq{
    width: 5rem;
    height: 3.5rem;
    border-radius: 0px 5px 5px 0px;
}

.boton-der{
    width: 5rem;
    height: 3.5rem;
    border-radius: 5px 0px 0px 5px;
}
.slider-frame .carrousel{
    width: 80vw;
}
.slider-container{
    width: 80vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.slide .slide-current .slide-visible{
    width: 100%;
    border-radius: 3%;
}
/* CARROUSEL */
/* CARROUSEL */
/* CARROUSEL */

@media screen and (max-width: 768px)  {
    .boton-der, .boton-izq{
        width: 3rem;
        height: 2rem;
    }
}

@media screen and (max-width: 400px)  {
    .card-carrousel .card-carrousel-text h4{
        font-size: 1rem;
    }
    
    .card-carrousel .card-carrousel-text p{
        margin-bottom: 1rem;
        font-size: .8rem;
    }
    
}