header{
    position: relative;
}
header nav .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}
header .container nav .logo-menu .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
header .container nav .menu-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 1rem;
}
header .container nav .menu-icon button{ 
    background-color: var(--color-terciary);
    border: none;
    width: 3rem;
    height: 2rem;
    border-radius: 3px;
}
header .container nav .menu-icon button:active{
    filter: brightness(90%);
}

header .container nav .menu-icon button svg{
    width: 2rem;
    height: 2rem;
    color: var(--color-secondary);
    
}
header .container  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .container nav h2{
    font-weight: 200;
    font-size: 2rem;
    color: var(--color-quarter);
}

header .container nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .container nav ul li{
    margin: 0 1rem;
    padding: 0 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container nav ul li a{
    margin-top: 1px;
    padding-bottom: 0px;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.2rem;

}

header .container nav ul li a:hover{
    color: var(--color-quarter);
    border-bottom: .5px solid var(--color-primary);
}
.animate__animated.animate__slideInDown {
    --animate-duration: .2s;
  }


@media screen and (max-width: 768px) {
    /* navbar */
    /* navbar */
    header .container  nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .container nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: .7rem;
    }
    header .container nav ul li a{
        padding: 2rem 0 0 0;
    }
    /* navbar */
    /* navbar */
} 