nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    flex-direction: row;
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 3px;
}
nav div{
    width: 20%;
    min-width: 150px;
}

nav div h3{
    text-align: center;
    position: relative;
}
nav div h3 a{
    text-decoration: none;
    color: var(--color-secondary);
}

nav .container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

nav div ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav div ul li{
    list-style: none;
}

nav div ul li a{
    margin: 0 1rem;
    text-decoration: none;
    color: var(--color-secondary);
    padding-bottom: 3px;
}

.active{
    filter: brightness(0.9);
    border-bottom: .5px solid var(--color-secondary);
}

